    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb {
        background: #ddd; 
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .month {
        width: 100%;
        padding: 20px 25px;
        margin: 20px auto 0px auto;
        text-align:right;
        background-color:coral;
        color: white;
        font-size: 27px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .week {
        width: 100%;
        table-layout: fixed;
        padding:5px 0px;
        margin: auto;
        background-color:#ddd;
    }

    .weekday {
        height: 30px;
        text-align: center;
        color: #666;
        font-size: 14px;
        text-transform: uppercase;
    }

    .next {
        padding: 2px 3px;
    }

    .next a:hover {
        color: #ffa584;
        text-decoration: none;
    }

    .prev {
        padding: 2px 3px;
    }

    .prev a:hover {
        color: #ffa584;
        text-decoration: none;
    }

    a {
        text-decoration:none;
        color: white;
    }



