<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel='stylesheet' href = "{% static 'mainPage/base.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>
        
<body>
    <!-- nav bar start -->
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <a href="https://www.givsum.com/"><img src="http://i64.tinypic.com/dcvji9.png" height="35px"></a>
            <ul class="navbar-nav ml-auto">
                <a href = "/calendarpage/" class="btn btn-outline-light"  style="font-weight: bold;" onclick="changeVar()">CALENDAR</a> <!-- calendar view button -->
                &nbsp;
                <a href = "{%url 'mainPage:schedule'%}" class="btn btn-outline-light"  style="font-weight: bold;" onclick="changeVar()" >SCHEDULE</a> <!-- calendar view button --> <!-- schedule view button -->
            </ul>
        </div>
    </nav>
    <!-- nav bar end -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="background-color: #f7f7f7;" > <!-- make if statement here for h-100 -->
                <!-- left column content goes here -->
                <div class="s-month">
                        <button type="button" class="btn btn-outline-light float-left today-button" href="#{{today_day}}{{today_month}}{{today_year}}">TODAY</button>
                        {{cur_name_of_month}} {{cur_year}}        
                        <span class="prev"><a href="#">&#10094;</a></span>
                        <span class="next"><a href="#">&#10095;</a></span>
                    </div>
                    
                    <div class="s-week">
                        <table>
                            <tr>
                                <td class="s-weekday">
                                    S
                                </td>            
                                <td class="s-weekday">
                                    M
                                </td>
                                <td class="s-weekday">
                                    T
                                </td>
                                <td class="s-weekday">
                                    W
                                </td>
                                <td class="s-weekday">
                                    T
                                </td>
                                <td class="s-weekday">
                                    F
                                </td>
                                <td class="s-weekday">
                                    S
                                </td>            
                            </tr>
                        </table>
                    </div>
                    
                    <div class="s-calendar">
                        <table>
                            <tr>
                                {%for i in first_day%}
                                <td class="s-empty">
                                </td>
                                {% endfor %}  
                                {% for i in cur_num_days %}
                                {% if today_day == forloop.counter and cur_month == today_month and cur_year == today_year %}
                                    <td class="s-today">
                                        <div class="s-day"><a href="#{{cur_month}}{{forloop.counter}}{{cur_year}}" style="color: white;">{{forloop.counter}}</a></div>
                                {% else %}
                                    <td class="s-date">
                                        <div class="s-day"><a href="#{{cur_month}}{{forloop.counter}}{{cur_year}}" style="color: #777;">{{forloop.counter}}</a></div>
                                {% endif %}  
                                </td>
                                    {% if forloop.counter|add:num_day|divisibleby:7%}
                                        </tr><tr>
                                    {%endif%}
                                {%endfor%}
                            </tr>
                        </table>
                    </div>
                    
                    <div class="btn-group btn-group-toggle btn-group-vertical filters" data-toggle="buttons">
                        <label class="btn btn-light all-events">
                            <input type="radio" name="options1" id="option1" autocomplete="off"> All Events
                        </label>
                        <label class="btn btn-light my-events"  >
                            <input type="radio" name="options2" id="option2" autocomplete="off"> My Events
                        </label>
                        <label class="btn btn-light ongoing-events">
                            <input type="radio" name="options3" id="option3" autocomplete="off"> On Going Events
                        </label>
                        <label class="btn btn-light friend-events">
                                <input type="radio" name="options4" id="option3" autocomplete="off"> Friend's Events
                        </label>
                    </div>
            </div>
            <div class="col-9 border-left" style="background-color: #fefefe;">
                <!-- right column content goes here -->
                <div class="scrollable">
                {% block right %}
                {% endblock %}
                </div>
            </div>

    <script>
      function changeVar(){
        selected = "allEvents";
        localStorage.setItem("select",selected);
      }      

      
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
        