{% extends 'base.html' %}
{% block head %}
    <style>
        ul {list-style-type: none;}
        body {font-family: Helvetica, sans-serif;}

        /* Month header */
        .month {
            padding: 20px 25px;
            margin: 1% 0% 0% 0%;
            width: 100%;
            background: coral;
            text-align: right;
        }

        /* Month list */
        .month ul {
            margin: 0;
            padding: 0;
        }

        .month ul li {
            color: white;
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        /* Previous button inside month header */
        .month .prev {
            float: right;
            padding-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            transform: translate(-40%, -20%);
        }

        /* Next button */
        .month .next {
            float: right;
            padding-top: 10px;
            margin-left: 5px;
            margin-bottom: 10px;
            transform: translate(-40%, -20%);
        }

        /* Weekdays (Mon-Sun) */
        .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color:#ddd;
        }

        .weekdays li {
            display: inline-block;
            width: 13.3%;
            color: #666;
            text-align: center;
            margin: 0px -24px 0px 24px;
        }

        /* Days (1-31) */
        .days {
            padding: 10px 0px 0px 25px;
            background: #eee;
            margin: 0px;
        }

        .days li {
            list-style-type: none;
            display: inline-block;
            padding: 5px 0px 5px 10px;
            width: 13.6%;
            height: 14%;
            text-align: left;
            margin-bottom: 5px;
            font-size:12px;
            color: #777;
        }

        /* Highlight the "current" day */
        .days li .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important
        }
        .dot {
            height: 7px;
            width: 7px;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block right %}
<!-- Top portion of calendar -->
<div class="month">
    <!-- Drop down bar  -->
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle float-left" style="background-color: coral; border: coral; color: white;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        MONTH
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">WEEK</a>
        <a class="dropdown-item active" href="#">MONTH</a>
        <a class="dropdown-item" href="#">YEAR</a>
    </div>
    </div> 
    <ul>  
        <li class="next">&#10095;</li>
        <li class="prev">&#10094;</li>
        <li>{{name_of_month}} {{year}}</li>


    </ul>
  </div>
  
  <!-- Days of the week bar  -->
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  
  <!-- creating each day and events  -->
  <ul class="days">
    {% for i in num_days %}   
    <li>{{ forloop.counter }}<BR><span class="dot" style="background-color: coral;"></span> event name here !!</li>
    {% endfor %}
  </ul>

{% endblock %}