{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel='stylesheet' href = "{% static 'mainPage/calendarPage.css' %}">
{% endblock %}
{% block right %}
<!-- start of calendar -->
<div class="month">
    <!-- start drop down menu -->
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle float-left" style="background-color: coral; border: coral; color: white;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        MONTH
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">WEEK</a>
        <a class="dropdown-item active" href="#">MONTH</a>
        <a class="dropdown-item" href="/calendarpage/year/filters=all/">YEAR</a>
    </div>
    </div>
    <!-- end drop down menu -->     
    {{cur_name_of_month}} {{cur_year}}
    <!-- arrows -->        
    <span class="prev"><a href="#">&#10094;</a></span>
    <span class="next"><a href="#">&#10095;</a></span>
</div>

<div class="week">
    <table>
        <tr>
            <td class="weekday">
                Sunday
            </td>            
            <td class="weekday">
                Monday
            </td>
            <td class="weekday">
                Tuesday
            </td>
            <td class="weekday">
                Wednesday
            </td>
            <td class="weekday">
                Thursday
            </td>
            <td class="weekday">
                Friday
            </td>
            <td class="weekday">
                Saturday
            </td>            
        </tr>
    </table>
</div>
<!-- start of days of calendar -->
<div class="calendar">
    <table>
        <tr>
            <!-- iterating through the empty days of the month -->
            {%for i in first_day%}
            <td class="empty">
            </td>
            {% endfor %}
            <!-- iterating through the amount of days of the month -->  
            {% for i in cur_num_days %}
            <!-- checking if the day is todays date -->
            {% if today_day == forloop.counter and cur_month == today_month and cur_year == today_year %}
                <td class="today">
            {% else %}
                <td class="date">
            {% endif %}    
                <div class="day">{{forloop.counter}}</div>
                <div class="events">
                    <!-- iterating through the events to check for the day -->
                    {% for event in events %}
                        <!-- checking if event is in date -->
                        {% if event.date_time.day == forloop.parentloop.counter and event.date_time.month == cur_month and event.date_time.year == cur_year %}
                        <div><span class="dot" style="background-color: pink"></span>{{event.name}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                
            </td>
                {% if forloop.counter|add:num_day|divisibleby:7%}
                    </tr><tr>
                {%endif%}
            {%endfor%}
        </tr>
    </table>
</div>
<!-- end of days calendar -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    var selected = null;
    if(localStorage.getItem("select")=="allEvents"){
      $(".all-events").addClass("active");
    }else if(localStorage.getItem("select")=="myEvents"){
      $(".my-events").addClass("active");
    }else if(localStorage.getItem("select")=="friendEvents"){
      $(".friend-events").addClass("active");
    }
    
    $(document).ready(function(){
        $(".next").click(function(){
        window.location.href = "{% url 'mainPage:nextView' view=n_view year=n_year month=n_month day=n_day filter=n_filter %}";

    });
        $(".prev").click(function(){
        window.location.href = "{% url 'mainPage:prevView' view=n_view year=n_year month=n_month day=n_day filter=n_filter%}";  
    });
    $(".today-button").click(function(){
          window.location.href = "{% url 'mainPage:currentTime' %}";   
    });
    $(".all-events").click(function(){
      selected = "allEvents";
      localStorage.setItem("select",selected);
      window.location.href = "{% url 'mainPage:calendarpage' filter='all' %}";
      
    });
    $(".my-events").click(function(){
       selected = "myEvents";
        localStorage.setItem("select",selected);
        window.location.href = "{% url 'mainPage:calendarpage' filter='myevents' %}";  
    });

    $(".friend-events").click(function(){
      selected = "friendEvents";
        localStorage.setItem("select",selected);
        window.location.href = "{% url 'mainPage:calendarpage' filter='friends' %}";  
  });
 })
  </script>


{% endblock %}