{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel='stylesheet' href = "{% static 'mainPage/schedulePage.css' %}">
{% endblock %}

{% block right %}
<!-- Iterating throught Events Dictionary to get days and its events -->

{% for date, events in ev_dict.items %}
        <!-- Creates day seperator (sticky)  -->
        <div id="date-marker"><a name="{{events.0.0.date_time.month}}{{events.0.0.date_time.day}}{{events.0.0.date_time.year}}">{{date}}</a> </div>
    
    <!--  Iterate through the Events of that day (.0 = event information, .1 = event atendees) -->
    {% for event in events %}
        <div class="event">
            <div class="event-left">
                <!-- Time  -->
                {% if event.0.date_time.minute  == 0 %}
                    <div id="time">{{event.0.date_time.hour}}:{{event.0.date_time.minute}}0 </div>
                {%elif event.0.date_time.minute < 10 %}
                <div id="time">{{event.0.date_time.hour}}:0{{event.0.date_time.minute}} </div>
                {% else %}
                    <div id="time">{{event.0.date_time.hour}}:{{event.0.date_time.minute}} </div>
                {% endif %}
                
                <!-- Picture  -->
                <div id="icon"><a href={{event.0.event_url}}><img src= {{event.0.picture_url}}></a></div>
            </div>
            <!-- Event Information -->
            <div class="event-right">
                <div class="information">
                    <!-- Iterate through days of month for text  -->
                    {% for key, n_month in months.items %}
                        {% if key == event.0.date_time.month %}
                            <div id="date">{{ n_month }} {{event.0.date_time.day}}</div>
                        {% endif %}
                    {% endfor %}
                    <div id="event"><a href="{{event.0.event_url}}">{{event.0.name}}</a></div>
                    <div id="location"><a href="#">{{event.0.address}}</a></div>
                    <div id="description">{{event.0.event_description}}</div>
                    <button href="#" tabindex="0" data-toggle="popover" data-trigger="focus" class="btn btn-sm btn-people" data-html="true" title="Attendees" data-content="
                    {% for person in event.2 %}
                    {{person.user.first_name}} <BR>
                    {% endfor %}
                    "><i class="fas fa-users"></i>&nbsp;&nbsp;{{event.1}} Attendees</button>
                    {% if event.3 %}
                    <button onclick=window.location.href="{% url 'mainPage:rsvp' event.0.id %}"; class="btn btn-sm btn-people"><i class="far fa-calendar-check"></i>&nbsp;&nbsp;Remove RSVP</button>
                    {%else%}
                    <button onclick=window.location.href="{% url 'mainPage:rsvp' event.0.id %}"; class="btn btn-sm btn-people"><i class="far fa-calendar-check"></i>&nbsp;&nbsp;RSVP</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
<!-- End of Iteration  -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var selected = null;

  if(localStorage.getItem("select")=="allEvents"){
      $(".all-events").addClass("active");
  }else if(localStorage.getItem("select")=="myEvents"){
    $(".my-events").addClass("active");
  }else if(localStorage.getItem("select")=="friendEvents"){
    $(".friend-events").addClass("active");
  }else if(localStorage.getItem("select")=="onGoing"){
      $(".ongoing-events").addClass("active");
  }

//add on going later

  $(document).ready(function(){
    $(".all-events").click(function(){
      selected = "allEvents";
      localStorage.setItem("select",selected);
      window.location.href = "{% url 'mainPage:schedulepage' filter='all' %}";
  });
    
    $(".my-events").click(function(){
        selected = "myEvents";
        localStorage.setItem("select",selected);
        window.location.href = "{% url 'mainPage:schedulepage' filter='myevents' %}";  
  });

  $(".ongoing-events").click(function(){
        selected = "onGoing";
        localStorage.setItem("select",selected);
        window.location.href = "{% url 'mainPage:schedulepage' filter='ongoing' %}";  
  });

    $(".friend-events").click(function(){
        selected = "friendEvents";
        localStorage.setItem("select",selected);
        window.location.href = "{% url 'mainPage:schedulepage' filter='friends' %}";  
  });
})

$(function () {
  $('[data-toggle="popover"]').popover()
})

$('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>
{% endblock %}
