{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel='stylesheet' href = "{% static 'mainPage/schedulePage.css' %}">
{% endblock %}

{% block right %}
<!-- Iterating throught Events Dictionary to get days and its events -->

{% for date, events in ev_dict.items %}
        <!-- Creates day seperator (sticky)  -->
        <div id="date-marker"> {{date}} </div>
    
    <!--  Iterate through the Events of that day (.0 = event information, .1 = event atendees) -->
    {% for event in events %}
        <div class="event">
            <div class="event-left">
                <!-- Time  -->
                {% if event.0.date_time.minute  == 0 %}
                    <div id="time">{{event.0.date_time.hour}}:{{event.0.date_time.minute}}0 </div>
                {%elif event.0.date_time.minute < 10 %}
                <div id="time">{{event.0.date_time.hour}}:0{{event.0.date_time.minute}} </div>
                {% else %}
                    <div id="time">{{event.0.date_time.hour}}:{{event.0.date_time.minute}} </div>
                {% endif %}
                
                <!-- Picture  -->
                <div id="icon"><a href={{event.0.event_url}}><img src= {{event.0.picture_url}}></a></div>
            </div>
            <!-- Event Information -->
            <div class="event-right">
                <div class="information">
                    <!-- Iterate through days of month for text  -->
                    {% for key, n_month in months.items %}
                        {% if key == event.0.date_time.month %}
                            <div id="date">{{ n_month }} {{event.0.date_time.day}}</div>
                        {% endif %}
                    {% endfor %}
                    <div id="event"><a href="{{event.0.event_url}}">{{event.0.name}}</a></div>
                    <div id="location"><a href="#">{{event.0.address}}</a></div>
                    <div id="description">{{event.0.event_description}}</div>
                    <button href="#" class="btn btn-sm btn-warning" id = "atendeebutton">{{event.1}} Attendees</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
<!-- End of Iteration  -->

{% endblock %}
