{% extends 'base.html' %}
{% block head %}
<style>
    .event {
        background-color: #efefef;
        padding: 20px 10px 10px 10px;
        margin: 15px auto;
        width: 100%;
        border-radius: 10px;
    }
    .event-left {
        width: 10%;
    }
    .event-right {
        width: 80%;
        margin-left: 190px;
        margin-top: -185px;
        margin-bottom: 20px;
    }
    #icon img {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-left: 30px;
        margin-bottom: 25px;
    }
    #time {
        margin-left: 50px;
        font-size: 30px;
        font-weight: bold;
    }
    #date {
        font-size: 20px;
        color: #323232;
        text-transform: uppercase;
        margin-bottom: -15px;
    }
    #event {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        overflow-wrap: break-word;
        width: 100%;       
    }
    #event a {
        color: #323232;
        text-decoration: none;
    }
    #event a:hover {
        color: coral;
    }
    #location {
        font-size: 20px;
        color: #323232;
        text-transform: uppercase;
        font-style: italic;
        margin-top: -15px;
    }
    #location a {
        color: #323232;
        text-decoration: none;
    }
    #location a:hover {
        color: #0f0f0f;
    }
    #description {
        font-size: 12px;
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        color: #5a5a5a;
        overflow: hidden;
    }
    .information {
        position: relative;
        margin: -2px 0px 0px 0px;
    }
    #date-marker {
        background-color: #f2f2f2;
        text-align: right;
        padding: 10px 20px;
        font-size: 35px;
        position: sticky;
        font-weight: bold;
        text-transform: uppercase;
        top: 54px;
        z-index: 1;
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block right %}
<div id="date-marker">
    DAY GOES HERE
</div>

<div class="event">
    <div class="event-left">
        <div id="time">12:20</div>
        <div id="icon"><a href="#"><img src=https://is4-ssl.mzstatic.com/image/thumb/Purple62/v4/25/3e/5d/253e5de1-1411-c919-410a-c3628a666a5b/mzl.rehriusj.png/246x0w.jpg></a></div>
    </div>
    <div class="event-right">
        <div class="information">
            <div id="date">April 21, 2018</div>
            <div id="event"><a href="#">THIS IS NOT A LONG TITLE</a></div>
            <div id="location"><a href="#">333 Lonely Street, Anaheim, California 333 Lonely Street, Anaheim, California</a></div>
            <div id="description">Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
                    Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
            </div>
        </div>
    </div>
</div>

<div id="date-marker">
        DAY 2 GOES HERE
    </div>
    <div class="event">
        <div class="event-left">
            <div id="time">12:20</div>
            <div id="icon"><img src=https://is4-ssl.mzstatic.com/image/thumb/Purple62/v4/25/3e/5d/253e5de1-1411-c919-410a-c3628a666a5b/mzl.rehriusj.png/246x0w.jpg></div>
        </div>
        <div class="event-right">
            <div class="information">
                <div id="date">April 21, 2018</div>
                <div id="event">THIS IS NOT A LONG TITLE </div>
                <div id="location">333 Lonely Street, Anaheim, California 333 Lonely Street, Anaheim, California</div>
                <div id="description">Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
                        Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
                </div>
            </div>
        </div>
    </div>
    <div id="date-marker">
            DAY 3 GOES HERE
        </div>
        <div class="event">
            <div class="event-left">
                <div id="time">12:20</div>
                <div id="icon"><img src=https://is4-ssl.mzstatic.com/image/thumb/Purple62/v4/25/3e/5d/253e5de1-1411-c919-410a-c3628a666a5b/mzl.rehriusj.png/246x0w.jpg></div>
            </div>
            <div class="event-right">
                <div class="information">
                    <div id="date">April 21, 2018</div>
                    <div id="event">THIS IS NOT A LONG TITLE </div>
                    <div id="location">333 Lonely Street, Anaheim, California 333 Lonely Street, Anaheim, California</div>
                    <div id="description">Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
                            Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
                    </div>
                </div>
            </div>
        </div>
        <div id="date-marker">
                DAY GOES HERE
            </div>
            <div class="event">
                <div class="event-left">
                    <div id="time">12:20</div>
                    <div id="icon"><img src=https://is4-ssl.mzstatic.com/image/thumb/Purple62/v4/25/3e/5d/253e5de1-1411-c919-410a-c3628a666a5b/mzl.rehriusj.png/246x0w.jpg></div>
                </div>
                <div class="event-right">
                    <div class="information">
                        <div id="date">April 21, 2018</div>
                        <div id="event">THIS IS NOT A LONG TITLE </div>
                        <div id="location">333 Lonely Street, Anaheim, California 333 Lonely Street, Anaheim, California</div>
                        <div id="description">Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
                                Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig Big Mood.Big MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig MoodBig Mood
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
