{% extends 'base.html' %}
{% block head %}
    {% load static %}
<!--    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css">-->
    <link rel='stylesheet' type='text/css' href="{% static 'mainPage/jquery-week-calendar-master/libs/css/smoothness/jquery-ui-1.8.11.custom.css' %}" />
    <link rel='stylesheet' type='text/css' href="{% static 'mainPage/jquery-week-calendar-master/jquery.weekcalendar.css' %}" />
    <link rel='stylesheet' href = "{% static 'mainPage/weekPage.css' %}">
    <style type='text/css'>
        body {
          margin: 0;
        }
      
        h1 {
          margin: 0 0 1em;
          padding: 0.5em 0.5em 0;
        }
      
        p.description {
          font-size: 0.8em;
          padding: 1em;
          top: 3.2em;
          margin-right: 400px;
        }
      
        #message {
          font-size: 0.7em;
          position: absolute;
          top: 1em;
          right: 1em;
          width: 350px;
          display: none;
          padding: 1em;
          background: #ffc;
          border: 1px solid #dda;
        }

    .wc-cal-event .wc-time {
        background-color: #e57248;
        border: 1px solid #e57248;
        color: #fff;
        padding: 0;
        font-weight: bold;
    }

    .wc-grid-timeslot-header {
      width: 6%;
      background: #eee;
    }
        
    .wc-header td {
        background-color: #ddd;
        color: #666;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb {
        background: #ddd; 
    }

    </style>

    <script type='text/javascript' src="{% static 'mainPage/jquery-week-calendar-master/libs/jquery-1.4.4.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'mainPage/jquery-week-calendar-master/libs/jquery-ui-1.8.11.custom.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'mainPage/jquery-week-calendar-master/libs/date.js' %}"></script>
    <script type='text/javascript' src="{% static 'mainPage/jquery-week-calendar-master/jquery.weekcalendar.js' %}"></script>

    <script type='text/javascript'>
      
        var eventData = {
          events : [
            {%for event in events%}
            {'id':{{forloop.counter}}, 'start': new Date({{event.1}}), 'end': new Date({{event.2}}),'title':'{{event.0.name}}'},
          {%endfor%}
          ]
        };
      
//        $(document).ready(function() {
//          alert('here');
//          $('#calendar').weekCalendar({
//            data: eventData,
//      
//            timeslotsPerHour: 4,
//            allowCalEventOverlap: true,
//            overlapEventsSeparate: true,
//            totalEventsWidthPercentInOneColumn : 95,
//            readonly: true,
//            businessHours: false,
//            showHeader: true,
//      
//            height: function($calendar) {
//              return $(window).height() - $('h1').outerHeight(true);
//            },
//            eventRender: function(calEvent, $event) {
//                $event.css('backgroundColor', 'coral');
//                $event.find('.time').css({
//                  backgroundColor: '#999',
//                  border:'1px solid #888'
//                });
//            },
//            eventNew: function(calEvent, $event) {
//              displayMessage('<strong>Added event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//              alert('You\'ve added a new event. You would capture this event, add the logic for creating a new event with your own fields, data and whatever backend persistence you require.');
//            },
//            eventDrop: function(calEvent, $event) {
//              displayMessage('<strong>Moved Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//            },
//            eventResize: function(calEvent, $event) {
//              displayMessage('<strong>Resized Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//            },
//            eventClick: function(calEvent, $event) {
//              displayMessage('<strong>Clicked Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//            },
//            eventMouseover: function(calEvent, $event) {
//              displayMessage('<strong>Mouseover Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//            },
//            eventMouseout: function(calEvent, $event) {
//              displayMessage('<strong>Mouseout Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//            },
//            noEvents: function() {
//              displayMessage('There are no events for this week');
//            }
//          });
//      
//          function displayMessage(message) {
//            $('#message').html(message).fadeIn();
//          }
//      
//          $('<div id="message" class="ui-corner-all"></div>').prependTo($('body'));
//        });
//        function hi(){
//          alert("hi");
//        }
      function start(){
//        alert("here3");
        $('#calendar').weekCalendar({
            data: eventData,
      
            timeslotsPerHour: 4,
            allowCalEventOverlap: true,
            overlapEventsSeparate: true,
            totalEventsWidthPercentInOneColumn : 95,
            readonly: true,
            businessHours: false,
            showHeader: true,
      
            height: function($calendar) {
              return $(window).height() - $('h1').outerHeight(true);
            },
            eventRender: function(calEvent, $event) {
                $event.css('backgroundColor', 'coral');
                $event.find('.time').css({
                  backgroundColor: '#999',
                  border:'1px solid #888'
                });
            },
            eventNew: function(calEvent, $event) {
              displayMessage('<strong>Added event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
              alert('You\'ve added a new event. You would capture this event, add the logic for creating a new event with your own fields, data and whatever backend persistence you require.');
            },
            eventDrop: function(calEvent, $event) {
              displayMessage('<strong>Moved Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventResize: function(calEvent, $event) {
              displayMessage('<strong>Resized Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventClick: function(calEvent, $event) {
              displayMessage('<strong>Clicked Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventMouseover: function(calEvent, $event) {
              displayMessage('<strong>Mouseover Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            eventMouseout: function(calEvent, $event) {
              displayMessage('<strong>Mouseout Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
            },
            noEvents: function() {
              displayMessage('There are no events for this week');
            }
          });
          
        function displayMessage(message) {
            $('#message').html(message).fadeIn();
          }
      
          $('<div id="message" class="ui-corner-all"></div>').prependTo($('body'));
      }
        </script>
        
{% endblock %}
{% block right %}
<!-- <h1>Week Calendar Demo</h1> -->

  <!-- <p class="description">
    This calendar demonstrates a basic calendar. Events triggered are
    displayed in the message area. Appointments in the past are shaded grey.
    <br/>
    This calendar demonstrates overlapped events with little space on right to
    create new events  (new option <i>"totalEventsWidthPercentInOneColumn"</i>)
  </p> -->
  <!-- start of calendar -->
<div class="month">
  <!-- start drop down menu -->
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle float-left" style="background-color: coral; border: coral; color: white;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      WEEK
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/calendarpage/week/">WEEK</a>
      <a class="dropdown-item active" href="#">MONTH</a>
      <a class="dropdown-item" href="/calendarpage/year/filters={{n_filter}}/">YEAR</a>
  </div>
  </div>
  <!-- end drop down menu -->     
  <!-- arrows -->        
  <span class="prev"><a href="#">&#10094;</a></span>
  <span class="next"><a href="#">&#10095;</a></span>
</div>
  <div id="calendar"></div>
  <script>start()</script>
  <script>
    var selected = null;
    if(localStorage.getItem("select")=="allEvents"){
      $(".all-events").addClass("active");
    }else if(localStorage.getItem("select")=="myEvents"){
      $(".my-events").addClass("active");
    }else if(localStorage.getItem("select")=="friendEvents"){
      $(".friend-events").addClass("active");
    }else if(localStorage.getItem("select")=="onGoing"){
      $(".ongoing-events").addClass("active");
    }
    $(".all-events").click(function(){
             selected = "allEvents";
             localStorage.setItem("select",selected);
            window.location.href = "{% url 'mainPage:weekview2' filter='all' %}";
            
           });
           $(".my-events").click(function(){
             selected = "myEvents";
             localStorage.setItem("select",selected);
            window.location.href = "{% url 'mainPage:weekview2' filter='myevents' %}";
            
           });
           $(".ongoing-events").click(function(){
             selected = "onGoing";
             localStorage.setItem("select",selected);
            window.location.href = "{% url 'mainPage:weekview2' filter='ongoing' %}";
            
           });
           $(".friend-events").click(function(){
             selected = "friendEvents";
             localStorage.setItem("select",selected);
            window.location.href = "{% url 'mainPage:weekview2' filter='friends' %}";
            
           });
  </script>
<!--  <script>hi();</script>-->
<!--  <script>alert("here2");</script>-->
{% endblock %}