{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel='stylesheet' href="{% static 'mainPage/schedule-template/css/reset.css' %}"/>
    <link rel='stylesheet' href="{% static 'mainPage/schedule-template/css/style.css' %}"/>
    <style>
        .month {
        width: 100%;
        padding: 20px 25px;
        margin: 20px auto 0px auto;
        text-align:right;
        background-color:coral;
        color: white;
        font-size: 27px;
        text-transform: uppercase;
        font-weight: bold;
    }

        ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb {
        background: #ddd; 
    }
    .next {
        padding: 2px 3px;
    }

    .next a:hover {
        color: #ffa584;
        text-decoration: none;
    }

    .prev {
        padding: 2px 3px;
    }

    .prev a:hover {
        color: #ffa584;
        text-decoration: none;
    }

    a {
        text-decoration:none;
        color: white;
    }
    </style>
{% endblock %}
{% block right %}
<!-- start of calendar -->
<div class="month">
    <!-- start drop down menu -->
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle float-left" style="background-color: coral; border: coral; color: white;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        WEEK
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item active" href="#">WEEK</a>
        <a class="dropdown-item" href="/calendarpage/">MONTH</a>
        <a class="dropdown-item" href="/calendarpage/year/filters=all/">YEAR</a>
    </div>
    </div>
    <!-- end drop down menu -->     
    MONTH ##, 2018 - MONTH ##, 2018
    <!-- arrows -->        
    <span class="prev"><a href="#">&#10094;</a></span>
    <span class="next"><a href="#">&#10095;</a></span>
</div>


<div class="cd-schedule loading">
        <div class="timeline">
        <ul>
        <li><span>04:00</span></li>
        <li><span>04:30</span></li>
        <li><span>05:00</span></li>
        <li><span>05:30</span></li>       
        <li><span>06:00</span></li>
        <li><span>06:30</span></li>
        <li><span>07:00</span></li>
        <li><span>07:30</span></li>
        <li><span>08:00</span></li>
        <li><span>08:30</span></li>       
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li>
        <li><span>18:30</span></li>
        <li><span>19:00</span></li>
        <li><span>19:30</span></li>
        <li><span>20:00</span></li>
        <li><span>20:30</span></li>
        <li><span>21:00</span></li>
        <li><span>21:30</span></li>
        <li><span>22:00</span></li>
        <li><span>22:30</span></li>
        <li><span>23:00</span></li>
        <li><span>23:30</span></li>
        <li><span>00:00</span></li>
        
        </ul>
        </div> 
        <div class="events">
        <ul>
        <li class="events-group">
        <div class="top-info"><span>Sunday</span></div>
        <ul>
        <li class="single-event" data-start="05:30" data-end="08:20" data-content="event-abs-circuit" data-event="event-1">
        <a href="#0">
        <em class="event-name">Event Name</em>
        </a>
         </li>
        </ul>
        </li>
        <li class="events-group">
        <div class="top-info"><span>Monday</span></div>
        <ul>
        <li class="single-event" data-start="05:30" data-end="08:20" data-content="event-abs-circuit" data-event="event-1">
        <a href="#0">
        <em class="event-name">Event Name</em>
        </a>
         </li>
         
        </ul>
        </li>
        <li class="events-group">
        <div class="top-info"><span>Tuesday</span></div>
        <ul>
        <li class="single-event" data-start="06:45" data-end="08:00" data-content="event-yoga-1" data-event="event-3">
        <a href="#0">
        <em class="event-name">Event Name</em>
        </a>
        </li>
        </ul>
        </li>
        <li class="events-group">
        <div class="top-info"><span>Wednesday</span></div>
        <ul>
        <li class="single-event" data-start="08:45" data-end="12:00" data-content="event-yoga-1" data-event="event-3">
        <a href="#0">
        <em class="event-name">Event Name</em>
        </a>
        </li>
        </ul>
        </li>
        <li class="events-group">
        <div class="top-info"><span>Thursday</span></div>
        <ul>
        <li class="single-event" data-start="07:00" data-end="10:30" data-content="event-rowing-workout" data-event="event-2">
        <a href="#0">
        <em class="event-name">Event Name</em>
        </a>
        </li>
        </ul>
        </li>
        <li class="events-group">
        <div class="top-info"><span>Friday</span></div>
        <ul>
        <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-2">
        <a href="#0">
        <em class="event-name">Event Name</em>
        </a>
        </li>
        </ul>
        </li>
        <li class="events-group">
        <div class="top-info"><span>Saturday</span></div>
        <ul>
        <li class="single-event" data-start="10:00" data-end="11:00" data-content="event-rowing-workout" data-event="event-2">
        <a href="#0">
        <em class="event-name">Event Name</em>
        </a>
        </li>
        </ul>
        </li>
        </div>
        <div class="event-modal">
        <header class="header">
        <div class="content">
        <span class="event-date"></span>
        <h3 class="event-name"></h3>
        </div>
        <div class="header-bg"></div>
        </header>
        <div class="body">
        <div class="event-info"></div>
        <div class="body-bg"></div>
        </div>
        <a href="#0" class="close">Close</a>
        </div>
     <script src="{% static 'mainPage/schedule-template/js/jquery-3.0.0.min.js' %}"></script>
     <script src="{% static 'mainPage/schedule-template/js/main.js' %}"></script>
     <script src="{% static 'mainPage/schedule-template/js/modernizr.js' %}"></script>
{% endblock %}