{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel='stylesheet' href = "{% static 'mainPage/calendarPage.css' %}">
    <link rel='stylesheet' href = "{% static 'mainPage/yearCal.css' %}">
{% endblock %}
{% block right %}
<!-- start of calendar -->
<div class="month" style="margin-bottom: 20px;">
        <!-- start drop down menu -->
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle float-left" style="background-color: coral; border: coral; color: white;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                YEAR
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">WEEK</a>
                <a class="dropdown-item" href="/calendarpage/">MONTH</a>
                <a class="dropdown-item" href="/calendarpage/year/">YEAR</a>
        </div>
        </div>
        <!-- end drop down menu -->     
        {{cur_year}}
        <!-- arrows -->        
        <span class="prev"><a href="#">&#10094;</a></span>
        <span class="next"><a href="#">&#10095;</a></span>
</div>
<table class="year">        
        
        {%for month,month_info in year_info.items%}

        <td>
                <div class="y-month">
                        {{month_info.cur_name_of_month}}
                    </div>
                
                    <div class="y-week">
                        <table>
                            <tbody>
                                    <tr>
                                        <td class="y-weekday">
                                            S
                                        </td>            
                                        <td class="y-weekday">
                                            M
                                        </td>
                                        <td class="y-weekday">
                                            T
                                        </td>
                                        <td class="y-weekday">
                                            W
                                        </td>
                                        <td class="y-weekday">
                                            T
                                        </td>
                                        <td class="y-weekday">
                                            F
                                        </td>
                                        <td class="y-weekday">
                                            S
                                        </td>            
                                    </tr>
                            </tbody>
                        </table>
                    </div>
            
                    <div class="y-calendar">
                            
                    <table>
                    <tbody>
                    <tr>
                        {% for i in month_info.first_day %}
                        <td class="y-date"> 
                        </td>
                        {% endfor %}




                        {% for day_num,event_info in month_info.day_distribution.items %}
                                
                                {% if month_info.today_day == forloop.counter and month_info.cur_month == month_info.today_month and month_info.cur_year == month_info.today_year %}
                                        <td class="y-today" >
                                                <div class="y-day" data-html="true" style="background-color:coral;"><a href="#" data-html="true" data-toggle="popover" data-trigger="focus" title="{{month_info.cur_name_of_month}} {{forloop.counter}}, {{month_info.cur_year}}" data-content="
                                                    {% for event in event_info.0 %}
                                                        {% if event.date_time.minute  == 0 %}
                                                            {{event.date_time.hour}}:{{event.date_time.minute}}0
                                                        {%elif event.date_time.minute < 10 %}
                                                            {{event.date_time.hour}}:0{{event.date_time.minute}}
                                                        {% else %}
                                                            {{event.date_time.hour}}:{{event.date_time.minute}}
                                                        {% endif %}                                                
                                                    : {{event.name}}
                                                    <br>
                                                    {% endfor %}
                                                    ">{{forloop.counter}}</a></div>
                                {% elif event_info.1 > 0 %}        
                                        <td class=" y-today y-heat" >
                                            <div class="y-day" data-html="true" style="background-color: {% if event_info.1 > 1 %} lightblue {% else %} pink {% endif %};"><a href="#" data-html="true" data-toggle="popover" data-trigger="focus" title="{{month_info.cur_name_of_month}} {{forloop.counter}}, {{month_info.cur_year}}" data-content="
                                                {% for event in event_info.0 %}
                                                    {% if event.date_time.minute  == 0 %}
                                                        {{event.date_time.hour}}:{{event.date_time.minute}}0
                                                    {%elif event.date_time.minute < 10 %}
                                                        {{event.date_time.hour}}:0{{event.date_time.minute}}
                                                    {% else %}
                                                        {{event.date_time.hour}}:{{event.date_time.minute}}
                                                    {% endif %}                                                
                                                : {{event.name}}
                                                <br>
                                                {% endfor %}
                                                ">{{forloop.counter}}</a></div>
                                {% else %}
                                        <td class="y-date">
                                            <div class="y-day">{{forloop.counter}}</div>
                                {% endif %}


                                {% if forloop.counter|add:month_info.num_day|divisibleby:7%}
                                        </tr><tr>
                                {% endif %}
                                
                        {% endfor %}




                    </tr>
                    {% if month_info.row_six %}
                        <tr><td class="y-date"></td></tr>
                    {% endif %}
                    </tbody>
                    </table>
                    </div>
        </td>
        
        {% if forloop.counter|divisibleby:4%}
            </tr><tr>
        {%endif%}
    {%endfor %}

</table>

<!-- end of days calendar -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

  $(document).ready(function(){
    $(".next").click(function(){
      window.location.href = "{% url 'mainPage:nextView' view='year' year=n_year month=n_month day=n_day filter=n_filter%}";

  });
    $(".prev").click(function(){
      window.location.href = "{% url 'mainPage:prevView' view='year' year=n_year month=n_month day=n_day filter=n_filter %}";  
  });
  $(".today-button").click(function(){
        window.location.href = "{% url 'mainPage:currentTime' %}";   
  });
  $(".all-events").click(function(){
      window.location.href = "{% url 'mainPage:yearview2'  filter='all' year=n_year %}";

    });
  $(".my-events").click(function(){
      window.location.href = "{% url 'mainPage:yearview2'  filter='myevents' year=n_year %}";

    });
  $(".friend-events").click(function(){
      window.location.href = "{% url 'mainPage:yearview2'  filter='friends' year=n_year %}";

    });
})

$(function () {
  $('[data-toggle="popover"]').popover()
})

$('.popover-dismiss').popover({
  trigger: 'focus'
})

</script>


{% endblock %}